* {
  margin: 0px;
  padding: 0px;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;

  
}
body{
  background-image: url("./3.avif");  
  margin: 0;
  font-family: Arial, sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
   background-repeat: no-repeat;
}

.main {
  display: flex;
  width: 80%;
  height: 100%;
  margin: 10%;
  
}

.main-1,
.main-2 {
  margin: 2%;
  width: 100%;
  height: 100%;
  border: 2px solid black;
  padding: 2%;
  border-radius: 10px;
  background-color: rgba(213, 211, 211, 0.5); /* Adjust alpha channel for transparency */
  backdrop-filter: blur(10px); /* Adjust the blur value as needed */
}

.main-1{
  margin-left: -90px;
}
.main-2{
  margin-right: -90px;
  height: 700px;

}

.input {
  
  margin-top: 1%;
  width: 100%;
  height: 35px;
  padding-left: 1%;
  border: 2px solid grey;
  border-radius: 5px;
}
input:focus{
  outline: none;
}

.label {
  font-weight: bold;
}

.spa {
  font-weight: bold;
}

.radio {
  margin-top: 1%;
}


#textarea1 {
  margin-top: 1%;
  width: 100%;
  padding-left: 1%;
  padding-top: 2%;
  border: 2px solid grey;
  border-radius: 5px;
}
#textarea1:focus{
  outline: none;
}

#imagechoose {
  background-color: white;
  margin-top: 1%;
  width: 100%;
  border-radius: 5px;
  height: 35px;
  padding-top: 2%;
  padding-left: 1%;
  border: 2px solid grey;
}

.visible {
  margin-top: 1%;
  background-color: blue;
  color: white;
  padding: 1%;
  border-radius: 5px;
  font-size: 12px;
  width: 15%;
}
.visible:hover{
    background-color: rgb(255, 0, 0);
    color: white;
}

#countrycode,#curr {
  margin-top: 1%;
  width: 12%;
  height: 38px;
  padding-left: 1%;
  border: 2px solid grey;
  border-radius: 5px;
}

option {
  justify-content: center;
  padding-right: 1%;
}

#phoneno,#currency {
  margin-top: 1%;
  width: 85%;
  height: 35px;
  padding-left: 1%;
  border: 2px solid grey;
  border-radius: 5px;
}

.checked {
  margin-top: 1%;
}

.checked input,#male,#female {
  margin-top: 2%;
}

.checked label {
  padding: 3%;
}

#colourfield {
  height: 40px;
  margin-top: 3px;
  width: 100%;
  border: 2px solid grey;
  border-radius: 5px;
}

.submit {
  background-color: blue;
  color: white;
  padding: 1%;
  border-radius: 5px;
  font-size: 20px;
  width: 20%;
  margin: -18%;
  margin-top: 8%;
  margin-bottom: 3%;
  cursor: pointer;
  margin-right: -2px;
}

.submit:hover {
  background-color: rgb(1, 255, 39);
  color: lightblue;
}

.validation {
font-family: 'Roboto', sans-serif;
font-style: normal;
  color: red;
  font-size: 14px;
  font-weight : 600;
  margin-top: 5%;
}
